<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModelLearner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BakalarskaPrace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModelLearner.Properties.Settings>
            <setting name="File" serializeAs="String">
                <value>output.txt</value>
            </setting>
            <setting name="SelectedAlgorithm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LOUGA_PDDLOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_GoalStateComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOUGA_PopulationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOUGA_GenerationsCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="LOUGA_GreedySearchTreshold" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LOUGA_PopulationRestartTreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LOUGA_CrossoverWithOldPopulationTreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOUGA_OldPopulationRestartTreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ARMS_ProbabilityTreshold" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ARMS_MinActionConstraintWeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ARMS_MaxActionConstraintWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ARMS_InformationConstraintWeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ARMS_MaxSatAlgorithm" serializeAs="String">
                <value>GSAT</value>
            </setting>
            <setting name="ARMS_MaxSatNumberOfTries" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ARMS_MaxSatRestartTreshold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ARMS_MaxSatRandomChoiceProbability" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LOUGA_EndAfterSolutionIsFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOUGA_PredicateByPredicate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOUGA_MaxPredicateErrorRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LOUGA_GenerateNegativePreconditions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_GenerateCompletePreconditionsLists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_ParametersCanRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_ObservationErrorWeight" serializeAs="String">
                <value>1</value>
            </setting>
        </ModelLearner.Properties.Settings>
        <BakalarskaPrace.Properties.Settings>
            <setting name="File" serializeAs="String">
                <value>output.txt</value>
            </setting>
            <setting name="SelectedAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LOUGA_PDDLOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_GoalStateComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_PopulationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOUGA_GenerationsCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="LOUGA_GreedySearchTreshold" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LOUGA_PopulationRestartTreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LOUGA_CrossoverWithOldPopulationTreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOUGA_OldPopulationRestartTreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ARMS_ProbabilityTreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ARMS_MinActionConstraintWeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ARMS_MaxActionConstraintWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ARMS_InformationConstraintWeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ARMS_MaxSatAlgorithm" serializeAs="String">
                <value>GSAT</value>
            </setting>
            <setting name="ARMS_MaxSatNumberOfTries" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ARMS_MaxSatRestartTreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ARMS_MaxSatRandomChoiceProbability" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LOUGA_EndAfterSolutionIsFound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_PredicateByPredicate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_MaxPredicateErrorRate" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="LOUGA_GenerateNegativePreconditions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_GenerateCompletePreconditionsLists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_ParametersCanRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOUGA_ObservationErrorWeight" serializeAs="String">
                <value>1</value>
            </setting>
        </BakalarskaPrace.Properties.Settings>
    </userSettings>
</configuration>