<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlanGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlanGenerator.Properties.Settings>
            <setting name="PredicateChance" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="PlansCount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>output.txt</value>
            </setting>
            <setting name="GeneratingMethodId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SequencesMinActions" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SequencesTargetActions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BFSGoalPredicatesCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BFSMaxVisitedStates" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BFSVisitedStates" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="BFSMinimalPlanLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RemoveOperatorsLists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitStateOutputId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransitionStatesOuputIds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoalStateOutputId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoveTypeOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveTyping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParametersCanRepeatInActions" serializeAs="String">
                <value>True</value>
            </setting>
        </PlanGenerator.Properties.Settings>
    </userSettings>
</configuration>